page-login {
    .form-content {
        background-color: white
    }

    .cstitle {
        text-align: center;
        color: #FF6700;
        // margin: 100px 0px 50px;
        font-size: 30px;
    }

    .welcomeheading {
        text-align: center;
        color: #FF6700;
        margin: 100px 0px 30px;
        font-size: 25px;
    }

    .secondHeading {
        text-align: center;
        color: #FF6700;
        margin: 100px 0px 50px;
        font-size: 20px;
    }

    .skip-login {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 500;
        color: #FF6700;

        a {
            color: #FF6700;
        }
    }

    .form {
        // margin-top: 50px
    }

    .login-button {
        margin-top: 30px;
        font-weight: 500;
        color: white;
        background: #FF6700;
    }

    .error-message {
        color: #FF6700;
        padding: 2px;
        font-weight: 500;
        text-align: center;
    }
}