page-contactlist {
    background-color: #4682B4;

    .welcomeheading {
        text-align: center;
        color: #FF6700;
        font-size: 30px;
    }

    .secondHeading {
        text-align: center;
        color: #FF6700;
        margin: 100px 0px 50px;
        font-size: 20px;
    }
}