page-contactlist {
   

    .welcomeheading {
        text-align: center;
        color: #FF6700;
        font-size: 20px;
    }

    .secondHeading {
        text-align: center;
        color: #FF6700;
        margin: 100px 0px 50px;
        font-size: 18px;
    }
}