page-shopping {
    .logo {
        width: 100px;
        margin: 10px;
    }

    .my-class {
        display: none;
    }

    .discount {
        white-space: normal;
        color: #ff6700;
        font-size: 15px;
        font-weight: 600;
        margin-top: 6px;
    }


}