
<ion-header>
  <ion-navbar>
    <ion-title color="mycolor">
    All in one shopping 
    </ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="data">
    <ion-card id="catcards nopaddingoffercard" *ngFor="let items of data" (click)="getStore(items)">
  <ion-card-content style="padding:5px;">
    <ion-row>
      <ion-col item-left class="nopaddingcol" style="margin-top: 5px;margin-bottom: 0px;">
        <img src="{{items.logo}}" class="logo">
      </ion-col>
      <ion-col col-6>
        <p class="discount">
         Get Faster delivery and great discounts. Shop Now!!
        </p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
  </div>
</ion-content>
