page-link {
    .skip-login {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        font-weight: 500;
        color: #FF6700;

        a {
            color: #FF6700;
        }
    }
}